.site-header, .site-footer {
    a {
        color: darken($nav-color, 15%);
        text-decoration: none;
        
        &:visited {
            color: lighten($nav-color, 15%);
        }

        &:hover {
            color: lighten($nav-color, 30%);
            text-decoration: underline;
        }
        
        .social-media-list &:hover {
            text-decoration: none;
            
            .username {
                text-decoration: underline;
            }
        }
    }
}

/**
 * Site header
 */
.site-header {
    display: flex;
    justify-content: center;
    background-color: $grey-color-dark;
    border-top: 5px solid $grey-color-dark;
    border-bottom: 1px solid $grey-color-light;
    min-height: $spacing-unit * 1.865;
}

.site-title {
  @include relative-font-size(1.625);
  font-weight: 300;
  line-height: $base-line-height * $base-font-size * 2.25;
  display: flex;
  justify-content: space-between;
  
  &,
  &:visited {
      color: $grey-color-light;
  }
}

.site-nav {
  float: right;
  line-height: $base-line-height * $base-font-size * 2.25;

  .nav-trigger {
      display: none;
  }

  .menu-icon {
    display: none;
  }

  .page-link {
      color: $nav-color;
    line-height: $base-line-height;

    // Gaps between nav items, but not on the last one
    &:not(:last-child) {
      margin-right: 20px;
    }
  }
}
/**
 * Site footer
 */
.site-footer {
    display: flex;
    justify-content: center;
    background-color: $grey-color-dark;
    color: $nav-color;
    border-top: $border-size solid $grey-color-light;
    padding: $spacing-unit 0;
}

.footer-heading {
  @include relative-font-size(1.125);
  margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
  @include relative-font-size(0.9375);
  color: $nav-color;
  margin-left: -$spacing-unit / 2;
  @extend %clearfix;
}

.footer-col {
  float: left;
  margin-bottom: $spacing-unit / 2;
  padding-left: $spacing-unit / 2;
}

.footer-col-1 {
  width: -webkit-calc(35% - (#{$spacing-unit} / 2));
  width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
  width: -webkit-calc(20% - (#{$spacing-unit} / 2));
  width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
  width: -webkit-calc(45% - (#{$spacing-unit} / 2));
  width:         calc(45% - (#{$spacing-unit} / 2));
}

/**
 * Page content
 */
.page-content {
  padding: $spacing-unit 0;
}

.page-heading {
    border-bottom: $border-size dashed $background-color;
    text-align: center;
    @include relative-font-size(1.25);
}

.post-list {
  margin-left: 0;
  list-style: none;

  > li {
    margin-bottom: $spacing-unit;
  }
  p { text-align: center; }
}

.post-meta {
  font-size: $small-font-size;
  color: $grey-color;
}

.post-link {
    display: block;
    text-align: center;
  @include relative-font-size(1.5);
}



/**
 * Posts
 */
.post {
    background-color: $well-color;
    padding: $spacing-unit;
}
.post-header {
    margin-bottom: $spacing-unit;
    text-align: center;
}

.post-title {
  @include relative-font-size(2.625);
  letter-spacing: -1px;
  line-height: 1;
}

.post-content {
  margin-bottom: $spacing-unit;

  h2 {
    @include relative-font-size(2);
  }

  h3 {
    @include relative-font-size(1.625);
  }

  h4 {
    @include relative-font-size(1.25);
  }
}

// Home
.home {
    padding: $spacing-unit;
    background-color: $well-color;
    border: $border-size solid black;
    border-radius: 15px 15px 0 0;
}

table {
    border-collapse: collapse;
    margin: 0 auto;
    th { border: solid 1px black; }
    td, th {
        border: solid 1px black;
        text-align: center;
        padding: 0.5em;
    }
}
