<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body>

    {% include header.html %}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {% include footer.html %}

  </body>
  {% assign javascript_files = site.static_files | where: "javascript", true %}
  {% for file in javascript_files %}
  <script src="{{ file.path }}" async></script>
  {% endfor %}
</html>
