---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">
  
  <header class="post-header">
    <h1 class="post-title" itemprop="name headline">{{ page.title | escape }}</h1>
    <h2 class="post-subtitle">{{ page.subtitle | escape }}</h2>
    <p class="post-meta">
      {% if page.author %}
      <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>
      {% endif %}
    </p>

  </header>

  <div class="post-content" itemprop="articleBody">
    {{ content }}
  </div>

  <p class="post-meta">
    Created at: <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
      {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
      {{ page.date | date: date_format }}
    </time>
  </p>

  {% if page.bio %}
  <h3 class="bio-header">About the Author</h3>
  <p class="bio">{{ page.bio }}</p>
  {% endif %}
  
  {% if site.disqus.shortname %}
    {% include disqus_comments.html %}
  {% endif %}
</article>

{% for file in page.js_files %}
<script type="text/javascript" src="{{ file }}">
</script>
{% endfor %}

{% for file in page.css_files %}
<link rel="stylesheet" href="{{ file}}">
{% endfor %}
