---
layout: default
---
<div class="row">
  <div>
    {% if page.header_picture %}
    <img src="{{ page.header_picture }}"></img>
    {% endif %}
  </div>
  <article class="post grow" itemscope itemtype="http://schema.org/BlogPosting">

    <header class="post-header">
      <h1 class="post-title" itemprop="name headline">{{ page.title | escape }}</h1>
      <h2 class="post-subtitle">{{ page.subtitle | escape }}</h2>
      <p class="post-meta">
        {% if page.author %}
        <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>
        {% endif %}
      </p>

    </header>

    <div class="post-content" itemprop="articleBody">
      {{ content }}
    </div>

    <p class="post-meta">
      Created at: <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
        {{ page.date | date: date_format }}
      </time>
    </p>

    {% if site.disqus.shortname %}
    {% include disqus_comments.html %}
    {% endif %}
  </article>
  <div class="sidebar">
    <div class="panel">
      <h3>Social Media</h3>
      {% for username in site.twitter_usernames %}
      <p>{% include icon-twitter.html username=username %}</p>
      {% endfor %}
      <p>{% octicon mark-github height:16 class:"right left" aria-label:hi %}<a href="https://github.com/michaelburge">Github</a></p>
    </div>
    {% if page.bio %}
    <div class="panel">
    <h3>About the Author</h3>
    <p>{{ page.bio }}</p>
    </div>
    {% endif %}
    <div class="panel">
      <h3>Greatest Hits</h3>
      <p><a href="http://www.michaelburge.us/2017/09/10/injecting-shellcode-to-speed-up-amazon-redshift.html">Injecting a Chess Engine into Amazon Redshift</a></p>
      <p><a href="http://www.michaelburge.us/2017/11/28/write-your-next-ethereum-contract-in-pyramid-scheme.html">Write your next Ethereum Contract in Pyramid Scheme</a></p>
      <p><a href="http://www.michaelburge.us/2019/03/18/nes-design.html">Implementing a NES emulator in Rust</a></p>
      <p><a href="https://www.michaelburge.us/2019/05/21/marai-agent.html">Curiosity Killed the Mario</a></p>
    </div>
  </div>
</div>
{% for file in page.js_files %}
<script type="text/javascript" src="{{ file }}">
</script>
{% endfor %}

{% for file in page.css_files %}
<link rel="stylesheet" href="{{ file}}">
{% endfor %}
